head
  title DeepGraphics
  script src="jquery-1.12.0.min.js" type="text/javascript"
  sass:
    body
      display: none
      padding: 20px
      color: white
      background-color: rgb(54, 53, 49)
      font-family: sans-serif
    form
      padding: 30px 0px 30px 20px
      border-left: 3px dashed #FFF
      input
        font-size: 15px
    #topo
      padding: 1px
      padding-left: 20px
      border-left: 3px solid #FFF
    #go
      margin-left: 5px
    .data
      text-align: center
      width: 200px
      border: 1px dashed white
      margin: 5px
      padding: 5px
      font-size: 13px
      color: yellow


  coffee:
    $(document).ready ->
      ws = new WebSocket 'ws://localhost:2016'
      ws.onopen = ->
        # todo: websocket status
        $("body").show()
        console.log 'connected to WebSocket'
      ws.onerror = (error) -> console.log "WebSocket Error #{error}"
      ws.onmessage = (e) ->
        json = $.parseJSON(e.data)
        console.log e.data
        tb = $("<p class='data'>#{json['title']} (#{json['languages']})</p>")
        $("#panel").append tb

      $("#godeep").click ((e)->
        e.preventDefault()
        ws.send $("#onion").val()
      )
body
  #topo
    h1 DeepGraphics
    h4 deep investigate & visualize the web
  form
    input#onion type="text" name="url" value="http://zqktlwi4fecvo6ri.onion/wiki/Main_Page" size="35"
    input#godeep type="submit" value="Deep"
  #panel